<section class="item-edit">
  <header>
    <button class="icon" {{action 'cancel'}}><i class="fa fa-close"></i><span class="button-text">Cancel</span></button>
    <h1 class="title">Edit Item</h1>
    <button class="icon" {{action 'save'}}><i class="fa fa-floppy-o"></i><span class="button-text">Save</span></button>
  </header>

  {{#edit-metadata title=title description=description fields=fields}}
    {{partial '-edit-item-metadata'}}
  {{/edit-metadata}}
</section>
