// `html` is needed for specificity over normalize.css
// http://coding.smashingmagazine.com/2007/07/27/css-specificity-things-you-should-know/
*, *:before, *:after {
    @include box-sizing(border-box);
    @include word-break(break-all);
    @include hyphens(auto);
}

// style placeholder text on inputs (color too light, can't read it)
// ref: http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
::-webkit-input-placeholder {
    color: #555;
}
:-moz-placeholder {
    color: #555;
    opacity: 1;
}
::-moz-placeholder {
    color: #555;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #555;
}
input[type=search],
textarea {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

// flexible images/media
img, embed, object, video {
  max-width: 100%;
}

// http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
