.groups {
  @include breakpoint($screen-large-lodpi) {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    background: hsla(100, 50, 50, 1);
    margin: 20px;
    border-radius: $container-border-radius;
  }
}

.groups-list {
  padding: 0 20px;
}

.groups-list li {
  position: relative;
  @include display-flex;
  align-items: center;
  justify-content: space-between;
  background: hsla(90, 80, 30, 1);
  color: white;

  &:hover .controls, .controls.visible {
    @include display-flex;
  }
}

.groups-list li .controls {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  &, button:last-child {
    margin-left: 0.25em;
  }
}
