.item-new {
  @extend .item-edit;

  @include breakpoint($screen-large-lodpi) {
    background: hsla(44, 87, 82, 1);
  }
}

.item-new .item-metadata {
  color: black;

  @include breakpoint($screen-large-lodpi) {
    background: hsla(44, 75, 62, 0.7);
  }
}

.item-new .new-field {
  color: black;

  @include breakpoint($screen-large-lodpi) {
    background: hsla(44, 75, 62, 0.5);
  }
}
