ul.items {
  input[type=checkbox] {
    $checkbox-size: 1.25em;

    background: none;
    border: 1px solide black;
    height: $checkbox-size;
    width: $checkbox-size;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    &:after {
      content: '\2714';
      line-height: $checkbox-size / 1.1;
      font-size: $checkbox-size;
      color: #DDD;
      text-shadow: 0 -1px 0 #AAA;
    }

    &:checked {
      border-radius: 50%;
      background: hsla(55,100,60,1);
    }

    &:checked:after {
      color: #85ada7;
      text-shadow: #669991;
    }
  }
}
