.items {
  @include breakpoint($screen-large-lodpi) {
    background: hsla(20, 70, 50, 1);
    margin: 20px;
    border-radius: $container-border-radius;
  }
}

.items-list {
  padding: 0 20px;
}

.items-list li {
  $checkbox-left: nth($list-link-padding, 1);
  $checkbox-size: 1.25em;

  position: relative;
  @include display-flex;
  align-items: center;
  justify-content: space-between;
  background: hsla(40, 80, 100, 1);

  input[type=checkbox] {
    align-self: flex-start;
    flex-shrink: 0;

    margin-top: nth($list-link-padding, 1);
    margin-right: nth($list-link-padding, 1);
    height: $checkbox-size;
    width: $checkbox-size;
    background: none;
    text-align: center;
    @include appearance(none);
    outline: none;
    cursor: pointer;

    &:after {
      content: '\2714';
      line-height: $checkbox-size / 1.1;
      font-size: $checkbox-size;
      color: #DDD;
      text-shadow: 0 -1px 0 #AAA;
    }

    &:checked {
      border-radius: 50%;
      background: hsla(55,100,60,1);
    }

    &:checked:after {
      color: #85ada7;
      text-shadow: #669991;
    }
  }
}

.items-list li {
  &:hover .controls, .controls.visible {
    @include display-flex;
  }
}

.items-list li .controls {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  &, button:last-child {
    margin-left: 0.25em;
  }
}
