.item-new {
  @extend .item-edit;

  @include breakpoint($screen-large-lodpi) {
    border: 3px dashed black;
    background: hsla(0, 100, 100, 0.9);
  }
}

.item-new .edit-metadata,
.item-new .new-field {
  color: black;

  @include breakpoint($screen-large-lodpi) {
    border: 3px solid black;
    // background: hsla(44, 77, 100, 1);
    background: none;

    textarea, input:not([type=checkbox]) {
      border: 1px solid black;
    }
  }
}
