.item-edit {
  @include breakpoint($screen-large-lodpi) {
    background: hsla(200, 50, 50, 1);
    margin: 20px;
    // override specificity of .content > div
    padding-bottom: 0 !important;
    border-radius: $container-border-radius;
  }

  .datetime-picker { color: black; }
  label, input { display: block; }
  input:not([type=checkbox]), textarea {
    padding: 5px;
    border: 0;
    width: 100%;
    border-radius: 5px;
  }
  textarea { resize: vertical; }
}

.item-edit .item-metadata {
  @include breakpoint($screen-large-lodpi) {
    border: 3px dashed black;
    background: hsla(210, 55, 40, 1);
  }
}

.new-field {
  @extend .item-metadata;

  color: white;

  @include breakpoint($screen-large-lodpi) {
    margin: 1em 20px;
    padding:  20px;
    border: 3px dashed black;
    background: hsla(210, 55, 40, 1);
    border-radius: $container-border-radius;
  }

  h1 {
    margin-top: 0;
    font-size: 1.1em;
  }

  select, button { color: black; }
  select { margin-bottom: 0.5em; }

  label { text-decoration: none; font-weight: normal; }
  .add-field-key, .add-field-value { @extend .field-value; }
}
