.content {
  max-width: 960px;
  @include display-flex;
  @include justify-content(center);
  margin: 0 auto;
}

.content > div {
  width: 30%;
  position: relative;
  background: green;
  transition: width 1s;
}
