.item {
  @include breakpoint($not-small) {
    @include transform(translate3d(100%,0,0));
    right: 0;
    border-left: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 30px #999;
  }

  @include breakpoint($screen-medium) {
    width: 50%;
  }

  @include breakpoint($screen-large) {
    width: 30%;
  }
}
