<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ember Tests</title>
    <link rel="stylesheet" href="/mocha.css" />
  </head>
  <body>
    <div id="mocha"></div>
    <div id="testRoot"></div>
    <script src="/mocha.js"></script>
    <script src="/chai.js"></script>
    <script src="/sinon.js"></script>
    <script src="/sinon/spy.js"></script>
    <script src="/sinon/call.js"></script>
    <script src="/sinon-chai.js"></script>
    <script src="/scripts/vendor.js"></script>
    <script src="/ember-mocha-adapter.js"></script>
    <script src="/scripts/templates-ember.js"></script>
    <script src="/scripts/dev-ember.js"></script>
    <script src="/tests.js"></script>
    <script>
      var expect = chai.expect;
      var should = chai.should();

      var router = require('client/router')['default'];
      router.reopen({
        location: 'none'
      });

      window.ENV = {
        APP: {}
      };

      Ember.run(function () {
        window.App = require('client/app')['default'].create(window.ENV.APP);

        // Don't clutter console with too many logs
        App.LOG_ACTIVE_GENERATION = false;
        App.LOG_MODULE_RESOLVER = false;
        App.LOG_TRANSITIONS = false;
        App.LOG_TRANSITIONS_INTERNAL = false;
        App.LOG_VIEW_LOOKUPS = false;

        App.deferReadiness();
        App.rootElement = '#testRoot';
        App.injectTestHelpers();
        App.advanceReadiness();
      });

      Ember.$(function () {
        mocha.run();
      });
    </script>
  </body>
</html>
