// checkbox with checkmark appearance
.checkmark {
  $checkbox-left: nth($list-link-padding, 1);
  $checkbox-size: 1.25em;

  align-self: flex-start;
  flex-shrink: 0;

  margin-right: nth($list-link-padding, 1);
  height: $checkbox-size;
  width: $checkbox-size;
  background: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  // since firefox doesn't support non-standard :after on input elements,
  // at least try to make the checkbox have a similar look and feel
  -moz-transform: scale(1.5);
  &[disabled] {
    -moz-appearance: none;
    -moz-transform: scale(1);
  }

  &:after {
    content: '\2714';
    line-height: $checkbox-size / 1.1;
    font-size: $checkbox-size;
    color: #DDD;
    text-shadow: 0 -1px 0 #AAA;
  }

  &:checked {
    border-radius: 50%;
  }

  &:checked:after {
    color: green;
    text-shadow: 0 1px 0 black;
  }
}
