.checkmark {
  $checkbox-size: 3rem;
  cursor: pointer;
  border: 2px solid #BBB;
  border-radius: 5px;
  width: $checkbox-size;
  height: $checkbox-size;
  outline: none;
  -webkit-appearance: none;

  // since firefox doesn't support non-standard :after on input elements,
  // at least try to make the checkbox have a similar look and feel
  -moz-transform: scale(1.5);

  &:after {
    line-height: $checkbox-size * 0.8;
    font-size: $checkbox-size * 1.5;
    color: #DDD;
    text-shadow: 0 -1px 0 #AAA;
  }

  &:checked:after {
    content: '\2714';
    color: green;
    text-shadow: 0 1px 0 black;
  }
}
