.edit-metadata {
  h1 { text-align: center; }
  .datetime-picker { color: black; }
  label, input { display: block; }
  textarea { resize: vertical; }

  input:not([type=checkbox]), textarea, select {
    padding: 5px;
    border: 0;
    width: 100%;
    border-radius: 5px;
  }

  select {
    background-image: none;
    background-color: white;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  }

  .datetime-picker select {
    width: auto;
  }
}

.edit-metadata .metadata {
  @include breakpoint($screen-large-lodpi) {
    border: 3px dashed black;
    background: hsla(210, 55, 40, 1);
  }
}

.edit-metadata .new-field {
  @extend .fields;

  color: white;

  select, button { color: black; }
  .select-center {
    margin: 0 auto 0.5em;
    text-align: center;
  }

  label { text-decoration: none; font-weight: normal; }
  .add-field-key, .add-field-value { @extend .field-value; }

  .error {
    display: block;
    margin-top: 0.5em;
    color: hsla(0, 100, 70, 1);
    font-weight: bold;
  }
}
