<li class="rating">
  <label for="rating">Rating:</label>
  <div class="meta-value">
    {{input id="rating" value=rating}}
  </div>
</li>

<li class="priority">
  <label for="priority">Priority:</label>
  <div class="meta-value">
    {{input id="priority" value=priority}}
  </div>
</li>

<li class="complete">
  <label for="complete">Complete:</label>
  <div class="meta-value">
    {{input type="checkbox" id="complete" class="checkmark" checked=complete}}
  </div>
</li>
