<div class="content">
    {{outlet groups}}    {{!-- list of groups --}}
    {{outlet items}}     {{!-- list of items from a group --}}
    {{outlet group}}     {{!-- itemized description of a group --}}
    {{outlet item}}      {{!-- itemized description of an item --}}
</div>
