<ul class="items">
  {{#each}}
  <li>
    {{input type="checkbox" checked=complete}}
    {{#link-to 'item' this}}
      {{title}}
    {{/link-to}}
    <button {{action 'deleteItem' this}}><i class="fa fa-close"></i></button>
  </li>
  {{/each}}
</ul>
