<ul class="items">
  {{#each}}
  <li>
    {{view Ember.Checkbox checked=complete}}
    {{#link-to 'item' this}}
      {{title}}
    {{/link-to}}
    <button {{action 'deleteItem' this}}></button>
  </li>
  {{/each}}
</ul>
