<header>
  <h1 class="logo">
    <a href="/">Logo</a>
  </h1>
  <nav class="main">
    <ul>
      <li class="first"><a href="/">NavLink1</a></li>
      <li><a href="/">NavLink2</a></li>
      <li class="last"><a href="/">NavLink3</a></li>
    </ul>
  </nav>
</header>
