/*  Base Breakpoint Variables  */
$screen-small-max: 640px;
$screen-medium-max: 1024px;

/*  Media Queries  */
$screen-small: (max-width $screen-small-max);
$screen-small-portrait: $screen-small (orientation portrait);
$screen-small-landscape: $screen-small (orientation landscape);
$not-small: (min-width $screen-small-max + 1);

$screen-medium: (min-width $screen-small-max + 1) (max-width $screen-medium-max);
// need to duplicate these since it seems a compound query can't be used as a variable to add to another query
$screen-medium-portrait:  (min-width $screen-small-max + 1) (max-width $screen-medium-max) (orientation portrait);
$screen-medium-landscape: (min-width $screen-small-max + 1) (max-width $screen-medium-max) (orientation landscape);

$screen-large: (min-width $screen-medium-max + 1);
$screen-large-portrait: $screen-large (orientation portrait);
$screen-large-landscape: $screen-large (orientation landscape);

$screen-portrait: (orientation portrait);
$screen-landscape: (orientation landscape);
